.cr
.vs
*.hwp
*.bak
*.back
*.doc
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
*.suo
*.csproj.user
*.sln.cache
SyncToy*.dat
bin
obj
Bin
catalog.wci
*.skb
*.DS_Store
._*
build
.AppleSyncInfo
*.docstates
scaffolding.config
meta.fm
*.metaproj
*.tmp
_Output
_Patch
WinSCP.ini
_Docs\K-Packet\_00_규격서