<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="noPrompt" value="True"/>
		<add key="listFile" value="_TargetList.txt"/>
		<add key="companyFolder" value="D:\ZO"/>
		<add key="targetFolderName" value="Kats"/>
		<add key="processName" value="Kats.exe"/>
		<add key="shortcutName" value="KATS(Kiwoom Autoted Trading System)"/>
		<add key="shortcutHotKey" value=""/>
		<add key="shortcutDescription" value="KATS(Kiwoom Autoted Trading System)"/>
		<add key="isCreateDesktopShortcut" value="true"/>
		<add key="isCreateTaskbarShortcut" value="true"/>
		<add key="isCreateStartupShortcut" value="false"/>
		<add key="preInvokeCommand" value=""/>
		<add key="postInvokeCommand" value=""/>
	</appSettings>
</configuration>